<template>
    <v-container>
        <svg xmlns="http://www.w3.org/2000/svg" :width="chartWidth" :height="chartHeight" id="chart">
            <g
                v-for="(value, i) in chartData" :key="i"
                :transform="`translate(0, ${i * 40})`">
                <rect height="30" :width="barWidth( value )" fill="#f0b375"></rect>
                <text y="15">{{ value }} post(s) on {{ listOfDays[i] }}</text>
            </g>
        </svg>
    </v-container>
</template>

<script>
export default {
    props: {
        chartData: { type: Array, required: true },
        listOfDays: { type: Array, required: true },
    },
    data: () => ({ 
        chartWidth: 300,
        chartHeight: 200,
    }),
    computed: {
        dataMax() {
            return Math.max( ...this.chartData );
        },
    },
    methods: {
        barWidth( value ){
            return this.chartWidth / this.dataMax * value;
        },
    }
}
</script>

<style>

</style>