<template>
    <div>
        <v-container v-if="user">
            <v-row justify="center">
                <v-col cols="12" md="12">
                    <v-card class="mx-auto" max-width="500">
                        <v-form>
                            <v-toolbar color="black" dark flat>
                                <v-toolbar-title>Create a post</v-toolbar-title>
                            </v-toolbar>

                            <v-col cols="12">
                                <v-textarea color="accent" label="What's going on?" :error-messages="postBodyError" @blur="$v.post.body.$touch()" v-model="post.body"></v-textarea>
                            </v-col>

                            <v-card-actions>
                                <v-progress-linear :color="progressLinearColor" rounded light :value="progressPercentage" height="36">
                                    <template>
                                        <strong>{{ progressLinearVerbal }}</strong>
                                    </template>
                                </v-progress-linear>
                                <v-btn class="ml-4" color="accent" rounded :disabled="activateBtn" @click="addPost">Post</v-btn>
                            </v-card-actions>
                        </v-form>
                    </v-card>
                </v-col>
            </v-row>
        </v-container>

        <v-container class="hidden-sm-and-down">
            <v-layout class="fab-container">
                <v-btn class="ma-4" color="red" title="Scroll to top" fab dark large @click="$vuetify.goTo( 0 )"><v-icon>mdi-chevron-up</v-icon></v-btn>
            </v-layout>
            <div v-if="isLoading">
                <v-row justify="center">
                    <v-col cols="12" md="12" v-for="loader in 4" :key="loader">
                        <v-skeleton-loader class="mx-auto" max-width="500" :loading="isLoading" type="card-avatar"></v-skeleton-loader>
                    </v-col>
                </v-row>
            </div>
            <div v-else-if="posts.length === 0" class="text-center">
                <h1>No posts</h1>
            </div>
            <v-timeline v-else>
                <v-timeline-item v-for="post in formattedPosts" :key="post._id" large>
                    <template v-slot:opposite>
                        <span>{{ post.createdAt }}</span>
                    </template>
                    <v-card class="mx-auto" color="accent" dark hover max-width="500">
                        <v-card-title>
                            <v-icon large left>mdi-debian</v-icon>
                            <span class="title font-weight-light mr-2">by {{ post.author }}</span>
                        </v-card-title>
                        <v-card-text class="headline font-weight-bold">
                            {{ post.body }}
                        </v-card-text>
                    </v-card>
                </v-timeline-item>
            </v-timeline>
        </v-container>

        <v-container class="hidden-md-and-up">
            <div v-if="isLoading">
                <v-row justify="center">
                    <v-col cols="12" md="12" v-for="loader in 4" :key="loader">
                        <v-skeleton-loader class="mx-auto" max-width="500" :loading="isLoading" type="card-avatar"></v-skeleton-loader>
                    </v-col>
                </v-row>
            </div>
            <div v-else-if="posts.length === 0" class="text-center">
                <h1>No posts</h1>
            </div>
            <v-row v-else justify="center">
                <v-col v-for="post in formattedPosts" :key="post._id" cols="12" md="12">
                        <v-card class="mx-auto" color="accent" dark hover max-width="500">
                            <v-card-title>
                                <v-icon large left>mdi-debian</v-icon>
                                <span class="title font-weight-light mr-2">by {{ post.author }}</span>
                                <span class="mr-1 pb-2">.</span>
                                <span class="title font-weight-light">{{ post.createdAt }}</span>
                            </v-card-title>
                            <v-card-text class="headline font-weight-bold">
                                {{ post.body }}
                            </v-card-text>
                        </v-card>
                </v-col>
            </v-row>
        </v-container>
    </div>
</template>

<script>
import { mapState } from "vuex";
import { format, isToday } from "date-fns";
import createUrl from "~/util/createUrl";
const { required, maxLength } = require('vuelidate/lib/validators')


export default {
    /*Nuxt*/
    head: () => ({
        title: "Blogger"
    }),
    
    /*Vue*/
    data(){
        return {
            isLoading: true,
            posts: [],
            post: {
                body: "",
                author: "",
                likes: 0
            },
            offSetTop: 0,
        }
    },
    computed: {
        ...mapState({
			user: state => state.user
		}),
        formattedPosts(){
            const dateFormatRecent = "HH:mm";
            const dateFormatAged = "d MMM";

            const newPosts = this.posts.map( post => 
                isToday( new Date( post.createdAt )) 
                    ? { ...post, createdAt: (format( new Date( post.createdAt ), dateFormatRecent )) } 
                    : { ...post, createdAt: (format( new Date( post.createdAt ), dateFormatAged )) } 
            );
            return newPosts.reverse()
        },
        progressPercentage(){
			return this.post.body.length / 200 * 100;
        },
        progressLinearVerbal(){
            const length = this.post.body.length;

            if( length < 30 )
                return "Maybe a few more words?"
            else if( length == 69 )
                return "I call this easter egg!"
            else if( length < 100 )
                return "Are you telling us everything?"
            else if( length <= 200 )
                return "Now it looks pretty good."
            else if( length > 200 )
                return "Don't tell every detail!"
        },
        progressLinearColor(){
            const length = this.post.body.length;

            if( length < 30 )
                return "grey"
            else if( length == 69 )
                return "pink"
            else if( length < 100 )
                return "#90EE90"
            else if( length <= 200 )
                return "green"
            else if( length > 200 )
                return "red"
        },
        postBodyError(){
            const errors = [];
            if( !this.$v.post.body.$dirty )
                return errors
            !this.$v.post.body.required && errors.push( "Post cannot be empty." );
            !this.$v.post.body.maxLength && errors.push( "Max length of the post is 200 characters." );
			return errors 
        },
        activateBtn(){
            if( this.$v.$invalid )
                return true
            else
                return false
        },
    },
    async mounted(){
		try {
			const { data } = await this.$axios.get( "/api/posts" );

            this.posts = data.posts;
            this.isLoading = false;
		} catch( err ){
            //this.$error.request( err, "Couldn't load services" );
            console.log(err);
		}
		this.isLoading = false;
	},
    methods: {
        onDismissed(){
			this.post = {
				body: "",
			}
            this.$v.$reset();
        },
        async addPost(){
            this.$v.$touch();
            if( this.$v.$invalid )
                return

            this.post.author = this.user.username;
            try {
                const { data } = await this.$axios.post( "/api/post", this.post );

                this.posts.push( data.post );
                this.onDismissed()
            } catch( err ){
                console.log( "addPost " + err );
            }
        },
        async likePost( post ){
            console.log(post.likes);
            post.likes++;
            const { data } = await this.$axios.put( "/api/post", post );
            console.log(post.likes);
        },

    },
    validations: {
        post: {
            body: { required, maxLength: maxLength( 200 )}
        }
    }
}
</script>

<style>
.fab-container {
    position: fixed;
    bottom: 0;
    right: 0;
}
</style>
