<template>
    <div>
		<v-container>
			<v-row justify="center">
				<v-col cols="12" sm="8" md="6" lg="4">
                    <v-alert class="" :value="alert" transition="scale-transition" type="error">Incorrect username or password</v-alert>
				</v-col>
			</v-row>

			<v-row justify="center">
				<v-col cols="12" sm="10" md="8" lg="4">
					<v-card class="elevation-12">
						<form>
							<v-toolbar class="text--center" dark flat>
								<v-toolbar-title>Login</v-toolbar-title>
							</v-toolbar>
							<v-card-text>
								<v-text-field outlined label="Username" v-model="user.username"></v-text-field>
								<v-text-field outlined label="Password" type="password" v-model="user.password"></v-text-field>
							</v-card-text>
							<v-card-actions>
								<v-btn class="ma-2" color="accent darken-1" text nuxt to="/sign-up">Create account</v-btn>
								<v-spacer></v-spacer>
								<v-btn class="ma-2" color="accent" large type="submit" :disabled="activateBtn" @click.prevent="login">Login</v-btn>
							</v-card-actions>
						</form>
					</v-card>
				</v-col>
			</v-row>
		</v-container>
    </div>
</template>

<script>
import { required, alphaNum, minLength, maxLength } from "vuelidate/lib/validators";
import { max } from 'date-fns';


export default {
    /*Nuxt*/
    head: () => ({
        title: "Login"
    }),

    /*Vue*/
    data: () => ({
        user: {
            username: "",
            password: "",
        },
        errors: [],
        alert: false,
        alertMessage: "",
    }),
    computed: {
        activateBtn(){
            if( this.$v.$invalid )
                return true
            else
                return false
        }
    },
    methods: {
        async login(){
            this.errors = [];
            this.$v.$touch();
            if( this.$v.$invalid )
                return

            try {
                await this.$store.dispatch( "login", { username: this.user.username, password: this.user.password });

                if( this.$route.query.p )
                    this.$router.replace( this.$route.query.p );
                else 
                    this.$router.replace( "/" );
            } catch( err ){
                this.alert = true;
            }
        }
    },
    validations: {
        user: {
            username: { required, alphaNum, minLength: minLength(4), maxLength: maxLength(20) },
            password: { required, minLength: minLength(8), maxLength: maxLength(64) }
        }
    }
}
</script>
<style>

</style>