<template>
    <div>
        <v-container>
            <v-row justify="center">
				<v-col cols="12" sm="8" md="6" lg="4">
                    <v-alert :value="alert" transition="scale-transition" type="error">Can't sign up</v-alert>
				</v-col>
			</v-row>
            <v-row justify="center">
                <v-col cols="12" sm="10" md="8" lg="4">
                    <v-card class="elevation-12">
                        <v-form>
                            <v-toolbar dark flat>
                                <v-toolbar-title>Sign up</v-toolbar-title>
                            </v-toolbar>
                            <v-card-text>
                                <v-text-field outlined label="Username" hint="4-20 alphanumeric characters" :error-messages="userUsernameErrors" @blur="$v.formData.user.username.$touch()" v-model="formData.user.username"></v-text-field>
                                <v-text-field outlined label="Password" hint="Use 8-64 characters with a mix of letters, numbers & symbols" :error-messages="userPasswordErrors" @blur="$v.formData.user.password.$touch()" :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'" :type="showPassword ? 'text' : 'password'" @click:append="showPassword = !showPassword" :counter="64" v-model="formData.user.password"></v-text-field>
                                <v-text-field outlined label="Confirm password" :error-messages="userRePasswordErrors" @blur="$v.formData.user.rePassword.$touch()" :type="showPassword ? 'text' : 'password'" :counter="64" v-model="formData.user.rePassword"></v-text-field>
                            </v-card-text>
                            <v-card-actions>
                                <v-btn class="ma-2" color="accent darken-1" text nuxt to="/log-in">Sign in instead</v-btn>
								<v-spacer></v-spacer>
                                <v-btn class="ma-2" color="accent" :disabled="activateBtn" @click="register">Sign up</v-btn>
                            </v-card-actions>
                        </v-form>
                    </v-card>
                </v-col>
            </v-row>
        </v-container>
    </div>
</template>

<script>
import { required, alphaNum, minLength, maxLength } from "vuelidate/lib/validators";
import { formErrors } from "~/shared/errors";

export default {
    /*Nuxt*/
    head: () => ({
        title: "Sign up"
    }),

    /* Vue */
    data: () => ({
        showPassword: false,
        formData: {
            user: {
                username: "",
                password: "",
                rePassword: "",
            },
        },
        alert: false,
        errors: [],
    }),
    computed: {
        userUsernameErrors(){
            const errors = [];
            if( !this.$v.formData.user.username.$dirty )
                return errors;
            !this.$v.formData.user.username.required && errors.push( "Username is required." );
			return errors 
        },
        userPasswordErrors(){
			const errors = [];
			if( !this.$v.formData.user.password.$dirty )
				return errors;
			!this.$v.formData.user.password.required && errors.push( "Password is required." );
			return errors;
		},
		userRePasswordErrors(){
			const errors = [];
			if( !this.$v.formData.user.rePassword.$dirty )
				return errors;
			!this.$v.formData.user.rePassword.required && errors.push( "Confirmation password is required." );
			!this.$v.formData.user.rePassword.sameAsPassword && errors.push( "Passwords don't match." );
			return errors;
        },
        activateBtn(){
            if( this.$v.$invalid )
                return true
            else
                return false
        }
    },
    methods: { 
        async register(){
            this.$v.$touch();
            if( this.$v.$invalid )
                return

			try {
                const { data } = await this.$axios.post( "/api/auth/user", this.formData );

				this.$store.commit( "SET_USER", data.user );
				this.$store.commit( "SET_TOKEN", data.token );
				this.$router.replace( "/" );
			} catch( err ){
                this.alert = true;
			}
        }
    },
    validations: {
        formData: {
            user: {
                username: { required, alphaNum, minLength: minLength(4), maxLength: maxLength(20) },
                password: { required, minLength: minLength(8), maxLength: maxLength(64) },
                rePassword: { required, sameAsPassword: function( val ){ return val === this.formData.user.password }},
            }
        }
    }
}
</script>

<style>

</style>
