<template>
    <div>
        <v-container>
            <v-row justify="center">
                <v-col cols="12" md="4">
                    <v-card class="mx-auto" max-width="570" elevation="6">
                        <v-img src="https://cdn.costumewall.com/wp-content/uploads/2017/02/dale-gribble.webp" height="400"></v-img>
                        <v-card-title>@{{ this.$store.state.user.username }}</v-card-title>
                        <v-card-text>
                            <div>Posts created: {{ countPosts }}</div>
                        </v-card-text>
                        <v-card-subtitle>Post activity of five previous days</v-card-subtitle>
                        <weekly-posts :chartData=postActivity :listOfDays=listOfDays></weekly-posts>
                        <v-card-actions>
                            <v-spacer></v-spacer>
                            <v-btn class="ma-2" color="red" outlined @click="logout"><v-icon left>mdi-logout</v-icon>Log out</v-btn>
                        </v-card-actions>
                    </v-card>
                </v-col>
            </v-row>
            <v-row>
                <v-col cols="12" md="4" offset-md="4" v-for="post in formattedPosts" :key='post._id'>
                    <v-card class="mx-auto" color="accent" dark hover max-width="600">
                        <v-card-title>
                            <v-icon large left>mdi-debian</v-icon>
                            <span class="title font-weight-light mr-2">by {{ post.author }}</span>
                            <span class="mr-1 pb-2">.</span>
                            <span class="title font-weight-light">{{ post.createdAt }}</span>
                        </v-card-title>

                        <v-card-text class="headline font-weight-bold">
                            {{ post.body }}
                        </v-card-text>

                        <v-card-actions>
                            <v-spacer></v-spacer>
                            <v-btn class="ma-2" color="red" fab small @click="deletePost( post._id )" ><v-icon>mdi-delete</v-icon></v-btn>
                        </v-card-actions>
                        <!--
                        <v-card-actions>
                            <v-spacer></v-spacer>
                            <v-dialog v-model="dialog" width="300">
                                <template v-slot:activator="{ on }">
                                    <v-btn class="ma-2" color="red" fab small v-on="on" ><v-icon>mdi-delete</v-icon></v-btn>
                                </template>

                                <v-card>
                                    <v-card-title>Delete this item?</v-card-title>
                                    <v-card-text>{{ post.body }}</v-card-text>
                                    <v-card-actions>
                                        <v-spacer></v-spacer>
                                        <v-btn color="red" text @click="dialog = false">No</v-btn>
                                        <v-btn color="green" text @click="deletePost( post._id )">Yes</v-btn>
                                    </v-card-actions>
                                </v-card>
                            </v-dialog>
                        </v-card-actions>
                        -->
                    </v-card>
                </v-col>
            </v-row>
        </v-container>
    </div>
</template>

<script>
import weeklyPostsLine from "~/components/weeklyPostsLine";
import { format, isToday, subDays, eachDayOfInterval } from "date-fns";
import createUrl from "~/util/createUrl";

export default {
    /*Nuxt*/
    middleware: "auth",
    validate({ params, store }){
        return store.state.user.username === params.id;
    },
    async asyncData({ app, params, error, req }){
        const url = createUrl( req, `/api/posts/${ params.id }` );

		try {
			const { data } = await app.$axios.get( url );

	        return { posts: data.posts } 
		} catch ( err ){
			if( err.response && err.response.status === 404 ){
				return error({ statusCode: 404, message: "User doesn't exist." });
            }
            return error({ statusCode: 500, message: "Something went wrong" });
		}
	},

    /*Vue*/
    data: () => ({
        isLoading: true,
        dialog: false,
    }),
    computed: {
        countPosts(){
            return this.posts.length;
        },
        /**
         * Return list of posts with formatted date and order of oldest == lowest
         */
        formattedPosts(){
            const dateFormatRecent = "HH:mm";
            const dateFormatAged = "d MMM";

            const newPosts = this.posts.map( post => 
                isToday( new Date( post.createdAt )) 
                    ? { ...post, createdAt: (format( new Date( post.createdAt ), dateFormatRecent )) } 
                    : { ...post, createdAt: (format( new Date( post.createdAt ), dateFormatAged )) } 
            );
            return newPosts.reverse()
        },
        /**
         * Return list of date & postCount objects during last five days
         */
        postActivity(){
            const dateForm = "dd.LL.u";
            let chartData       = [ 0, 0, 0, 0, 0 ];
            const today         = new Date();
            const fourDaysAgo   = subDays( today, 4 );
            const listOfDays    = eachDayOfInterval({ start: fourDaysAgo, end: today }).map( date => format( date, dateForm )); 
            this.listOfDays     = listOfDays;

            for( let i = 0; i < this.posts.length; i++){
                let index = listOfDays.indexOf( format( new Date( this.posts[i].createdAt ), dateForm ));
                if( index ){
                    chartData[ index ]++;
                }
            };

            return chartData
        },
    },
    methods: {
        async logout(){
            try {
                await this.$store.dispatch( "logout" );

                this.$router.push( "/" );
            } catch( err ){

            }
        },
        async deletePost( id ){
			try {
                await this.$axios.delete( "/api/post", { params: { id: id }});

				const index = this.posts.findIndex( post => post._id === id );

				if( index !== -1 )
                    this.posts.splice( index, 1)
                this.dialog = false;
			} catch( err ){
                console.log( err );
			}
		}
    },
    components: {
        "weekly-posts": weeklyPostsLine,
    },
}
</script>

<style>

</style>