<template>
    <v-app>
        <v-app-bar app dark fixed>
            <v-spacer></v-spacer>
            <v-toolbar-title>Blogger</v-toolbar-title>
            <v-spacer></v-spacer>
            <v-toolbar-items class="hidden-sm-and-down">
                <v-btn color="accent" text nuxt to="/">Front page</v-btn>
            </v-toolbar-items>
            <v-toolbar-items class="hidden-sm-and-down" v-if="this.$store.state.user === null">
                <v-btn color="accent" text nuxt to="/log-in">Log in</v-btn>
                <v-btn color="accent" text nuxt to="/sign-up">Sign up</v-btn>
            </v-toolbar-items>
            <v-toolbar-items class="hidden-sm-and-down" v-else>
                <v-btn color="accent" text nuxt :to="'/users/' + this.$store.state.user.username">Profile</v-btn>
            </v-toolbar-items>
            <v-spacer></v-spacer>
        </v-app-bar>

        <v-content class="background fill-page">
            <v-container fluid>
                <nuxt keep-alive />
            </v-container>
        </v-content>

        <!-- Mobile navbar -->
        <v-bottom-navigation class="hidden-md-and-up" app dark grow mandatory height="48px">
                <v-btn v-if="this.$store.state.user === null" nuxt to="/sign-up"><v-icon>mdi-account</v-icon></v-btn>
                <v-btn v-else nuxt :to="'/users/' + this.$store.state.user.username"><v-icon>mdi-account</v-icon></v-btn>
                <v-btn nuxt to="/" @click="$vuetify.goTo( 0 )"><v-icon>mdi-home</v-icon></v-btn>
                <v-btn href="https://gitlab.com/lut1/blogger" target="_blank"><v-icon>mdi-gitlab</v-icon></v-btn>
        </v-bottom-navigation>
    </v-app>
</template>

<script>

export default {
    data: () => ({
    }),
    methods: {
    },
    mounted(){
        this.$nextTick(() => {
            this.$nuxt.$loading.start()

            setTimeout(() => this.$nuxt.$loading.finish(), 500)
        })
    },
    activated () {
        // Call fetch again if last fetch more than a minute ago
        if (this.$fetchState.timestamp <= Date.now() - 60) {
            this.$fetch();
        }
    }
}
</script>

<style>

</style>
