<template>
    <div>
        <v-container>
            <v-row class="text-center" justify="center">
                <v-col cols="12" md="4">
                    <v-img height="300" contain src="/img/sadface.gif"></v-img>
                    <h1 class="display-2 mb-4">404</h1>
                    <v-btn nuxt color="secondary" to="/">Take me home</v-btn>
                </v-col>
            </v-row>
        </v-container>
    </div>
</template>

<script>
export default {
}
</script>