<template>
    <v-app>
        <!-- Mobile navbar -->
        <v-navigation-drawer app dark right temporary v-model="mobileNav">
            <v-list dense nav>
                <v-list-item link nuxt to='/'>Front page</v-list-item>
                <div v-if="this.$store.state.user !== null">
                    <v-list-item link nuxt :to='/users/ + this.$store.state.user.username'>Profile</v-list-item>
                    <v-divider></v-divider>
                    <v-list-item @click="logout">Log out</v-list-item>
                </div>
                <div v-else>
                    <v-list-item link nuxt to='/log-in'>Log in</v-list-item>
                    <v-list-item link nuxt to='/sign-up'>Sign up</v-list-item>
                </div>
            </v-list>
        </v-navigation-drawer>

        <v-app-bar app dark fixed>
            <v-toolbar-title>Blogger</v-toolbar-title>
            <v-spacer></v-spacer>
            <v-toolbar-items class="hidden-sm-and-down">
                <v-btn color="accent" text nuxt to="/">Front page</v-btn>
            </v-toolbar-items>
            <v-toolbar-items class="hidden-sm-and-down" v-if="this.$store.state.user !== null">
                <v-btn color="accent" text nuxt :to="'/users/' + this.$store.state.user.username">{{ this.$store.state.user.username }}</v-btn>
                <v-btn color="accent" text @click="logout">Log out</v-btn>
            </v-toolbar-items>
            <v-toolbar-items v-else class="hidden-sm-and-down">
                <v-btn color="accent" text nuxt to="/log-in">Log in</v-btn>
                <v-btn color="accent" text nuxt to="/sign-up">Sign up</v-btn>
            </v-toolbar-items>
        </v-app-bar>

        <v-content class="background fill-page">
            <v-container fluid>
                <nuxt />
            </v-container>
        </v-content>

        <v-bottom-navigation class="hidden-md-and-up" app dark grow>
                <v-btn v-if="this.$store.state.user !== null" nuxt to="/log-in"><v-icon>mdi-account</v-icon></v-btn>
                <v-btn nuxt to="/"><v-icon>mdi-home</v-icon></v-btn>
        </v-bottom-navigation>
        <!--
        <v-footer color="background-secondary" padless>
            <v-row justify="center" no-gutters>
                <v-btn color="accent" text rounded nuxt to="/about-us">About us</v-btn>
                <v-col class="background py-4 text-center grey--text" cols="12">
                    {{ new Date().getFullYear() }} — <strong>Blogger (C)</strong>
                </v-col>
            </v-row>
        </v-footer>
        -->
    </v-app>
</template>

<script>

export default {
    /*Nuxt*/
    middleware: "auth",

    /*Vue*/
    data: () => ({
        mobileNav: false,
    }),
    methods: {
        async logout(){
            try {
                await this.$store.dispatch( "logout" );

                this.$router.push( "/" );
            } catch( err ){

            }
        },
    },
    mounted(){
        this.$nextTick(() => {
            this.$nuxt.$loading.start()

            setTimeout(() => this.$nuxt.$loading.finish(), 500)
        })
    },
}
</script>